{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- index.html content starts here -->

<!-- Hero Section -->


<div class="container-fluid bg-img" title="welcome text">
    <div class="row p-4">
        <div class="container text-center text-white d-flex align-items-center justify-content-center" style="height: 100vh;">
            <div class="hero-content">
                <h1>Welcome to Lyric Buzz</h1>
                <p>Share and discover lyrics of Christian hymns with fellow believers.</p>
                <form class="d-flex justify-content-center mt-3" action="{% url 'search_lyrics' %}" method="GET">
                    <input class="form-control" type="search" placeholder="Enter song name" aria-label="Search" name="q">
                    <button class="btn btn-primary" type="submit">Search</button>
                </form>
            </div>
        </div>

       
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Lyrics Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for lyric in lyric_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in lyric.featured_image.url %}
                                <img class="card-img-top" src="{% static 'images/default.jpg' %}"
                                  alt="placeholder image">
                                {% else %}
                                <img class="card-img-top" src=" {{ lyric.featured_image.url }}"
                                  alt="{{ lyric.song_name }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Posted By: {{ lyric.user }}</p>
                                </div>
                            </div>
                            <a href="{% url 'lyric_detail' lyric.slug %}" class="post-link">
                                <h2 class="card-title">{{ lyric.song_name }}</h2>
                            </a>

                            <hr />
                            <p class="card-text text-muted h6">{{ lyric.created_on}}
                            </p>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                  class="page-link">&laquo; PREV</a>
            </li>
            {% endif %} 
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}