{% extends "base.html" %}
{% load static %}

{% block extras %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(function() {
        $('#id_song_name').on('input', function() {
            var songName = $(this).val();
            var slug = songName.toLowerCase().replace(/[^a-z0-9]+/g, '-').replace(/(^-|-$)+/g, '');
            $('#id_slug').val(slug);
        });
    });
</script>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Submit a Lyric</h1>
    <p class="text-center">Share your favorite lyrics with the world! Fill in the form below to submit a new lyric. Once approved by our admin, it will be published on our site.</p>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary w-100">Submit Lyric</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
